qdrant-client
letta-client>=0.1.0

requests
schedule
fastapi
uvicorn
python-multipart
msgpack
sentence-transformers
flashrank
numpy
langchain
langchain-core
langchain-community
langchain-ollama
langchain-openai
dspy-ai
playwright
